<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">

  <div class="form-group">
    <h5>Title</h5>
    <input type="text" name="postTitle" class="form-control">
  </div>
  <div class="form-group">
    <h5>Text</h5>
    <textarea rows="4" cols="50" name="postBody" class="form-control">
    </textarea>
  </div>

  <button type="submit" name="button"  class="btn btn-primary">Publish</button>

</form>

<%- include("partials/footer") -%>
